/* css global styles */

* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

                            /* Error */

.error {
  color: red;
  font-size: 15px;
  text-align: center;
  padding-bottom: 8px;
  font-weight: 700;
}

                            /* NavBar */

nav {
  background-image: url('./assets/FondoNav3.svg');
  background-size: cover;
}

nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out; 
  }

  nav.navbar.scrolled {
    padding: 5px 0;
    background-color: rgba(253, 238, 255, 1)
  }

  nav.navbar .containerlink a.nav-link{
    letter-spacing: 1px;
    padding: 8px 15px;
    border-radius: 10%;
  }

  nav.navbar .containerlink a:hover {
    background-color: rgba(255, 222, 255, 1);
    border-radius: 10%;
  }

  .redesSociales span a svg {
    color: black;
    width: 30px;
    height: 25px;
  }

  .redesSociales span a svg:hover {
    color: rgba(255, 222, 255, 1);
    transition: 0.5s ease-in;
  }

  .redesSociales span{
    padding: 8px 15px;
  }

                 /* Arrow */

  .flechaOff {
    z-index: 999;
    position: fixed;
    bottom: 30px;
    transition: 0.75s ease-in-out;
    right: -50px;
  }

  .flechaOff button {
    background: transparent;
    border-radius: 100%;
    border: 2px solid black;
  }

  .container-flecha {
    z-index: 999;
    position: fixed;
    right: 2vh;
    bottom: 30px;
    transition: 0.75s ease-in-out;
  }

  .container-flecha button {
    background: transparent;
    border-radius: 100%;
    border: 2px solid black;
  }
              
  

                            /* Welcome */

.welcome {
    margin-top: 0;
    padding: 110px 0 50px 0;
    background-image: url('./assets/FondoNav3.svg');
    background-size: cover;
}


.welcome .container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.lines-effect {
    position: relative;
    font-size: 18px;
    color: black;
  }
  
  .lines-effect::before,
  .lines-effect::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.7em;
  }
  
  .lines-effect::before {
    left: -140px;
  }
  
  .lines-effect::after {
    right: -140px;
  }

               /* Carrusel */
  .carrusel {
   padding-bottom:50px;
   background-image: url('./assets/fondoGaleria4.svg');
   background-size: cover;
   background-repeat: no-repeat;
   
  }

              /* About us */

  .about-us {
    padding: 60px 0 50px 0;
    background-image: url('./assets/fondoGaleria4.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }


  .about-us h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .about-us .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-img img {
    width: 330px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    display: block;
  }

  .container-text p {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

                /* Jobs */

  .jobs {
    background-image: url('./assets/fondoGaleria4.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0 50px 0;
  }

  .jobs h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .jobs .prueba-img {
    width: 100%;
    height: 350px;
    margin: 10px 5px;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px rgba(209,209,209,1);
  }

  /* .jobs .prueba-img:hover {
    transition: 0.4s ease-in-out;
    box-shadow: 10px 10px 5px 0px rgba(209,209,209,1);
  } */

              /* Services */

  .services {
    padding: 60px 0 50px 0;
    background-image: url('./assets/fondoGaleria4.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }


  .services h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }


                /* Service Card */
  .service-card .image{
    max-height: 40vh;
  }


                /* Contact */
                
  .contact {
    background-image: url('./assets/fondoGaleria4.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0 120px 0;
  }

  .contact img {
    width: 79%;
    animation: ToTheSides 3s linear infinite;
}

@keyframes ToTheSides {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

  .contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }
  .contact form input, .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #121212;
    border-radius: 20px;
    color: #121212;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }

  .contact form textarea {
    margin-top: 8px;
  }
  .contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact form input::placeholder, .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #121212;
  }
  .contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact .conteiner-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact form button span {
    z-index: 1;
    position: relative;
  }
  .contact form button:hover {
    color: #fff;
  }
  .contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
  }
  .contact form button:hover::before {
    width: 100%;
    border-radius: 20px;
  }

                /* Footer */

  .footer {
    background-image: url('./assets/FondoNav3.svg');
    background-size: cover;
    padding-top: 13px;
  }

  .footer h4 {
    font-weight: 600;
  }

  .footer .footer-redesSociales span a svg {
    color: black;
    width: 30px;
    height: 25px;
  }

  .footer .footer-redesSociales span a svg:hover {
    color: rgba(255, 222, 255, 1);
    transition: 0.50s ease-in;
  }

  .footer .footer-redesSociales span{
    padding: 8px 15px;
  }

  .footer .container-contact p {
    margin-bottom: 0;
  }
  
  .footer .container-contact {
    margin-bottom: 16px;
  }

  .footer .div-link a {
    text-decoration: none;
    color: black;
  }

                /* Help */
  .help {
    background-image: url('./assets/FondoNav3.svg');
    background-size: cover;
    padding-top: 10vh;
  }

  .help h4 {
    font-weight: 700
  }

  .help h6 {
    font-weight: 600;
  }

  .help .container-tab a {
    margin-top: 4vh;
    color: black;
  }

  .help .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}
                /* Precentation */

  .presentation-copyright{
    display: inline-block;
    margin-bottom: 8px;
  }

                /* UserHepl */
  .userHelp p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
  }

  .userHelp h4 {
    margin-bottom: 0;
    color: black;
  }

  .userHelp span {
    color: #7A7A7A;
    font-weight: 500;
  }

  .userHelp a {
    text-decoration: none;
  }
                /* vercion mobile */

  @media screen and (max-width: 768px) {
    nav.navbar .containerlink{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('./assets/FondoNav3.svg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10px;
    }

    .redesSociales{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('./assets/FondoNav3.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .lines-effect::before,
    .lines-effect::after {
      content: '';
      position: absolute;
      width: 75px;
      height: 3px;
      background-color: black;
      top: 0.7em;
    }

    .lines-effect::before {
      left: -95px;
    }
    
    .lines-effect::after {
      right: -95px;
    }

    .jobs .prueba-img {
      margin: 10px auto;
    }

    .contact .container-svg {
      display: none;
    }

    
    .service-card .card {
      margin-bottom: 5vh;
    }

    .contact {
      padding: 60px 0;
    }
    .footer .footer-redesSociales {
      margin-bottom: 10px;
    }
  }


